* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

/* Background */
.background-container {
    position: fixed;
    inset: 0;
    z-index: -1;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
}

.logo-btn:hover {
    transform: scale(1.1);
}

/* Main box */
.main-box {
    background: white;
    width: 75%;
    padding: 40px;
    margin: 200px;
    border-radius: 30px;
    text-align: center;
}

.subtitle {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Role buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 25px;
}

.role-card {
    width: 200px;
    padding: 20px;
    border-radius: 15px;
    background: #f2f2f2;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.role-card:hover {
    transform: translateY(-15px);
}

.icon {
    width: 80px;
    height: 50px;
    object-fit: contain;    
    margin-bottom: 10px;
}
